<footer class="footer">
    <div class="columns is-mobile is-vcentered">
        <div class="column has-text-left is-paddingless">
            <p class="is-size-6">Copyright 2024, but not really.</p>
        </div>
        <div class="column has-text-right is-paddingless">
            <a href="https://www.linkedin.com/in/paul-corpuz/">
                <img src="/images/linkedInPC.png" alt="LinkedIn" class="mr-2">
            </a>
            <a href="https://github.com/paulcorpuz">
                <img src="/images/githubPC.png" alt="github">
            </a>
        </div>
    </div>
</footer>


</body>
</html>






