<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <!-- my beautiful CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Crudités</title>
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/recipes">All Recipes</a> |
        <a href="/recipes/new">Add a Recipe</a> |
        <a href="/recipes/new">My Recipes</a> |

        <a href="/logout">LOG OUT</a>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>

    </nav>