<%- include('./partials/header') %>

<section class="hero">
    <div class="hero-body">
        <p class="title">Recipe Appppppppppppppp</p>
        <p class="subtitle">this is just /, add something before the user logs in? </p>
    </div>
</section>
<br>

<div class="container">
    <img src="/images/ojigi_kuma.png" alt="Placeholder Image" style="width:20%; height:auto;">
</div>












<%- include('./partials/footer') %>