<%- include('./partials/header') %>


<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="columns is-centered is-vcentered">
            <div class="column is-half">
                <img src="/images/cruditesBanner.png" alt="cruditesBanner" style="width:100%; height:auto;">
            </div>
            <div class="column is-half">
                <p class="title">Need ideas for tonight's dinner or tomorrow's lunch? Browse through everyday 
                    recipes by home cooks like you.
                </p>
            </div>
        </div>
    </div>
</section>


<%- include('./partials/footer') %>