<%- include('./partials/header') %>

<h2>Recipe Appppppppppppppp</h2>
<h3>add something before the user logs in? </h3>

<img src="/images/ojigi_kuma.png" alt="Placeholder Image" style="width:20%; height:auto;">

<%- include('./partials/footer') %>