<%- include('../partials/header') %>


<!-- breadcrumb -->
<br>
<div class="container">
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">About</a></li>
        </ul>
    </nav>
</div>


<!-- hero -->
<section class="hero">
    <div class="hero-body">
        <p class="title">CRU·Di·tés</p>
        <p class="subtitle">Recipes without the crud... double puns!</p>
    </div>
</section>


<!-- body -->
<div class="container">
    <div class="content">
        <h1>Chefs, you have arrived at the Chopping Block...</h1>
            <p>CRU·Di·tés was created by Paul Corpuz with one focus in mind, <strong>just the recipe</strong>.</p>
            <p>Descriptions and comments have a max character-count of 280 characters. You'll no longer need to scroll 
                past long stories about someone's trip years ago when they backpacked through western Europe and were just outside 
                of Barcelona hiking in the foothills of Mount Tibidabo where they found inspiration for Banana Bread.
            </p>
            <p>Whether you're passionate about cooking, or commenting on your favorite recipes, you will find CRU·Di·tés to be 
                a reliable resource for just recipes, without the crud.
            </p>
    </div>  
</div>


<br><br>


<%- include('../partials/footer') %>