<%- include('../partials/header') %>
<br>
<nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
        <li><a href="/">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page">About CRUDites</a></li>
    </ul>
</nav>

<section class="hero">
    <div class="hero-body">
        <p class="title">Edit</p>
        <p class="subtitle">Placeholder /recipes/:id/edit</p>
    </div>
</section>
<br>



<%- include('../partials/footer') %>