<%- include('../partials/header') %>

    <section class="hero">
        <div class="hero-body">
            <p class="title">New</p>
            <p class="subtitle">Placeholder /recipes/new</p>
        </div>
    </section>

<form class="box" action="/recipes" method="POST">
    <fieldset>
        <legend>Add a Recipe - Placeholder text, change this</legend>
        <br><br>

        <div class="field">
            <label class="label">Recipe Title</label>
            <div class="control">
                <input class="input" type="text" name="name" placeholder="e.g. Crudités">
            </div>
            <p class="help">This is a help text</p>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" type="string" name="description" placeholder="e.g. It's just raw veggies and dip" maxlength="280" rows="2"></textarea>
            </div>
            <p class="help">Keep it Short! Can contain up to 280 characters, I'm watching you!</p>
        </div>

        <div class="field">
            <label class="label">(Direct) Image URL</label>
            <div class="control">
                <input class="input" type="string" name="imageUrl" placeholder="e.g. https://i.imgur.com/N46VgZu.png">
            </div>
            <p class="help">This is a help text</p>
        </div>

        <div class="control">
            <label class="label">Category</label>
            <div class="select">
                <select name="category">
                    <option value="Appetizer">Appetizer</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Drinks">Drinks</option>
                    <option value="Entree">Entrée</option>
                    <option value="Other">Other</option>
                    <option value="Side Dish">Side Dish</option>
                </select>
            </div>
        </div>

        <div class="field">
            <label class="label">Cooking Time (in Minutes)</label>
            <div class="control">
                <input class="input" type="number" name="cookingTime" min="0" max="9999" placeholder="e.g. 10">
            </div>
            <p class="help">'Cooking Time (in Hours)' is a WIP like me</p>
        </div>

        <div class="field">
            <label class="label">Ingredients</label>
            <div class="control">
                <textarea class="textarea" type="string" name="ingredients" placeholder="e.g. Assorted vegetables; 1 cup plain yogurt..." rows="2"></textarea>
            </div>
            <p class="help">Please separate each ingredient with a <strong>semicolon</strong>, or I will cry</p>
        </div>

        <div class="field">
            <label class="label">Cooking Instructions</label>
            <div class="control">
                <textarea class="textarea" type="string" name="instructions" placeholder="e.g. Prepare vegetables; Combine the plain yogurt..." rows="2"></textarea>
            </div>
            <p class="help">Please separate each instruction with a <strong>semicolon</strong>, or I will cry</p>
        </div>

        <div class="buttons">
            <button class="button is-primary" type="submit">Add Recipe</button>
        </div>
    </fieldset>
</form>

<%- include('../partials/footer') %>