<%- include('../partials/header') %>

    <h2>Recipe New</h2>

    <h2>Add new Recipe</h2>
    <form action="/recipes" method="POST">

        <label>Name:
            <input type="text" name="name" required>
        </label><br>

        <label>Ingredients(separate with comma):
            <input type="text" name="ingredients" required>
        </label><br>

        <label>Cooking Instructions:
            <input type="text" name="instructions" required>
        </label><br>

        <label>Cooking Time (Minutes):
            <input type="number" name="cookingTime" required min="0" max="9999">
        </label><br>

        <label>Category:
            <select name="category">
                <option value="Appetizer">Appetizer</option>
                <option value="Dessert">Dessert</option>
                <option value="Drinks">Drinks</option>
                <option value="Entree">Entrée</option>
                <option value="Other">Other</option>
                <option value="Side Dish">Side Dish</option>
            </select>
        </label><br>

        <label>Image URL:
            <input type="string" name="imageUrl">
        </label><br>

        <button type="submit">Add Recipe!!</button>
    
    </form>
    <p>
        <%= errorMsg %>
    </p>


    <%- include('../partials/footer') %>