<%- include('../partials/header') %>

    <h2>Recipe New</h2>

    <h2>Add new Recipe</h2>
    <form action="/recipes" method="POST">

        <label>Name:
            <input type="text" name="name" required>
        </label><br>

        <label>Ingredients(separate with comma):
            <input type="text" name="ingredients" required>
        </label><br>

        <label>Instructions:
            <input type="text" name="instructions" required>
        </label><br>

        <label>Cooking Time (In minutes):
            <input type="number" name="cookingTime" required>
        </label><br>

        <label>Meal:
            <select name="meal">
                <option value="Appetizer/Snack">Appetizer/Snack</option>
                <option value="Breakfast/Brunch">Breakfast/Brunch</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
                <option value="Dessert">Dessert</option>
                <option value="Drink">Drink</option>
            </select>
        </label><br>

        <label>Image URL:
            <input type="string" name="imageUrl">
        </label><br>

        <button type="submit">Add Recipe!!</button>
    
    </form>
    <p>
        <%= errorMsg %>
    </p>


    <%- include('../partials/footer') %>