<%- include('../partials/header') %>

    <h1>New</h1>
    <h1>-- Placeholder /recipes/new --</h1>


    <form action="/recipes" method="POST">
        <fieldset>
            <legend>Add New Recipe:</legend>
            <label for="rName">Name:</label>
            <input type="text" id="rName" name="name">
            <br>
            <!-- FIXME: -->
            <label for="rIngredients">Ingredients (One at a time??):</label>
            <input type="text" id="rIngredients" name="ingredients">
            <br>
            <!-- FIXME: -->
            <label for="rInstructions">Cooking Instructions (One at a time??):</label>
            <textarea id="rInstructions" name="instructions"></textarea>
            <br>
            <label for="rCookingTime">Cooking Time (Minutes):</label>
            <input type="number" id="rCookingTime" name="cookingTime" min="0" max="9999">
            <br>
            <label for="rCategory">Category:</label>
            <select id="rCategory" name="category">
                <option value="Appetizer">Appetizer</option>
                <option value="Dessert">Dessert</option>
                <option value="Drinks">Drinks</option>
                <option value="Entree">Entrée</option>
                <option value="Other">Other</option>
                <option value="Side Dish">Side Dish</option>
            </select>
            <br>
            <label for="rImageUrl">Image URL:</label>
            <input type="string" id="rImageUrl" name="imageUrl">
            <br>
            <button type="submit">Add Recipe!!!</button>
        </fieldset>
    </form>
    <br><br>
    <p>
        <%= errorMsg %>
    </p>


    <%- include('../partials/footer') %>