<%- include('../partials/header') %>

    <h1>New</h1>
    <h1>-- Placeholder /recipes/new --</h1>


    <form action="/recipes" method="POST">
        <fieldset>
            <legend>Add New Recipe:</legend>
            <label for="rName">Name:</label>
            <input type="text" id="rName" name="name" placeholder="e.g. Crudités">
            <br>

            <!-- FIXME: -->
            <label for="rIngredients">Ingredients - Please separate each ingredient with a
                <strong>semicolon</strong>:</label>
            <textarea id="rIngredients" name="ingredients"
                placeholder="e.g. Assorted vegetables; 1 cup plain yogurt..."></textarea>
            <br>

            <!-- FIXME: -->
            <label for="rInstructions">Cooking Instructions - Please separate each ingredient with a
                <strong>semicolon</strong>:</label>
            <textarea id="rInstructions" name="instructions"
                placeholder="e.g. Prepare vegetables; Combine the plain yogurt…"></textarea>
            <br>
            <label for="rCookingTime">Cooking Time (Minutes):</label>
            <input type="number" id="rCookingTime" name="cookingTime" min="0" max="9999" placeholder="10">
            <br>
            <label for="rCategory">Category:</label>
            <select id="rCategory" name="category">
                <option value="Appetizer">Appetizer</option>
                <option value="Dessert">Dessert</option>
                <option value="Drinks">Drinks</option>
                <option value="Entree">Entrée</option>
                <option value="Other">Other</option>
                <option value="Side Dish">Side Dish</option>
            </select>
            <br>
            <label for="rImageUrl">Image URL:</label>
            <input type="string" id="rImageUrl" name="imageUrl" placeholder="https://i.imgur.com/N46VgZu.png">
            <br>
            <button type="submit">Add Recipe!!!</button>
        </fieldset>
    </form>
    <br><br>



<%- include('../partials/footer') %>