<%- include('../partials/header') %>


<!-- breadcrumb -->
<br>
<div class="container">
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">Add a Recipe</a></li>
        </ul>
    </nav>
</div>

<!-- hero title -->
<section class="hero">
    <div class="hero-body">
        <p class="title is-2">Add a Recipe</p>
        <p class="subtitle is-4">Easily upload your favorite recipe</p>
    </div>
</section>


<!-- body/content -->
<div class="columns is-mobile is-centered">
    <div class="column is-half">
        <form class="box" action="/recipes" method="POST">
<!-- name -->
                <div class="field">
                    <label class="label">Recipe Title</label>
                    <div class="control">
                        <input class="input" type="text" name="name" placeholder="e.g. Crudités">
                    </div>
                    <p class="help">Give your recipe a name</p>
                </div>
<!-- description -->
                <div class="field">
                    <label class="label">Description (Optional)</label>
                    <div class="control">
                        <textarea class="textarea" type="string" name="description" placeholder="e.g. It's just raw vegetables and dip" maxlength="280" rows="2"></textarea>
                    </div>
                    <p class="help">Provide a short description. Can contain up to 280 characters, I'm watching you!</p>
                </div>
<!-- imageURL -->
                <div class="field">
                    <label class="label">Photo (Image URL)</label>
                    <div class="control">
                        <input class="input" type="string" name="imageUrl" placeholder="e.g. https://i.imgur.com/...png">
                    </div>
                    <p class="help">Please submit a direct image URL of your recipe. (I don't have money to host it here &#128517)</p>
                </div>
<!-- category -->
                <div class="control">
                    <label class="label">Category</label>
                    <div class="select">
                        <select name="category">
                            <option value="Appetizer">Appetizer</option>
                            <option value="Dessert">Dessert</option>
                            <option value="Drinks">Drinks</option>
                            <option value="Entree">Entrée</option>
                            <option value="Other">Other</option>
                            <option value="Side Dish">Side Dish</option>
                        </select>
                    </div>
                </div>
<!-- cookingTime -->
                <div class="field">
                    <label class="label">Cooking Time (in Minutes)</label>
                    <div class="control">
                        <input class="input" type="number" name="cookingTime" min="0" max="9999" placeholder="e.g. 10">
                    </div>
                    <p class="help">'Cooking Time (in Hours)' is a WIP like me</p>
                </div>
<!-- ingredients -->
                <div class="field">
                    <label class="label">Ingredients</label>
                    <div class="control">
                        <textarea class="textarea" type="string" name="ingredients" placeholder="e.g. Assorted vegetables; 1 cup plain yogurt..." rows="2"></textarea>
                    </div>
                    <p class="help">Please separate each ingredient with a <strong>semicolon</strong>, or I will cry</p>
                </div>
<!-- instructions -->
                <div class="field">
                    <label class="label">Cooking Instructions</label>
                    <div class="control">
                        <textarea class="textarea" type="string" name="instructions" placeholder="e.g. Prepare vegetables; Combine the plain yogurt..." rows="2"></textarea>
                    </div>
                    <p class="help">Please separate each instruction with a <strong>semicolon</strong>, or I will cry</p>
                </div>
<!-- button time! -->
                <div class="buttons">
                    <button class="button is-primary" type="submit">Add Recipe</button>
                </div>
        </form>
    </div>
</div>


<br><br>


<%- include('../partials/footer') %>